@import url('https://rsms.me/inter/inter.css');
html,
body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background: #F4F6F8;
  height: 100%;
}

.header {
  background: #224773;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 20px 40px;
}

main {
  padding: 20px 40px;
  height: calc(100% - 160px);
  min-height: 200px;
}

.title {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 25px;
  color: #3B444F;
}

.content {
  padding: 20px 25px;
  background: white;
  height: calc(100% - 160px);
  min-height: 200px;
}

.content__title {
  font-size: 18px;
  line-height: 150%;
  color: #3B444F;
  margin-bottom: 20px;
}

.submit-button {
  background: #E8F5E9;
  border: 1px solid #93D99A;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #93D99A;
  margin-top: 30px;
  display: block;
  padding: 5px 15px;
  cursor: pointer;
}

.footer {
  background: #E6E9ED;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #9299A3;
  padding: 20px 10px 20px 144px;
}
