!doctype html>
<html>

<head>
  <title>FaaS webapp deployment demo</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
  <header class="header">Data Science Platform</header>
  <main>
    <div class="title">Analysis: pandas_profiling</div>
    <section class="content">
      <div class="content__title">Upload File</div>
      <form method="POST" action="" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" class="submit-button" value="Submit">
      </form>
    </section>
  </main>
  <footer class="footer">© 2021 Data Science Platform</footer>
</body>

</html>
